{
   "parserOptions": {
      "ecmaVersion": 2018
   },
   "extends": ["eslint:recommended", "eslint-config-prettier"], // (1) By including this extension, we avoid possible conflicts and overlaping issues of Eslint rules with Prettier rules
   "rules": {
      "no-console": "off"
   },
   "env": {
      "browser": true
   }
}
